# Netlify CMS configuration

site_url: https://kwanwebsitefinal.netlify.app
publish_mode: editorial_workflow
media_folder: "static/images/uploads"
public_folder: "/images/uploads"

backend:
  name: git-gateway
  branch: main
  auth_type: implicit
  login: true

collections:
  - name: "posts"
    label: "Posts"
    folder: "content/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }

  - name: "pages"
    label: "Pages"
    folder: "content/pages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
